/*!------ Color palette ------
        Background: #0B0F14 (near-black navy)

        Panels: #121821 (slate blue-gray)

        Text: #E9F0F7 (soft off-white)

        Muted text: #9FB0C3

        Accent (buttons/links): #52E3A5 (minty green)
*/

.hidden {
   display: none;
}

header,
.headerTop,
.logo a,
nav ul {
   display: flex;
}

header {
   flex-direction: column;
   width: 100%;
   background-color: #121821;
   box-shadow: 0 1px 6px rgba(233, 240, 247, 0.2);
   backdrop-filter: blur(6px);
   position: sticky;
   top: 0;
   z-index: 100;
   padding: 0.5rem 0;
}

/*! ------------------------------ Logo and search form styles ------------------------------  */

/*! ----- logo (img, h1 and p) styles -----  */
.headerTop {
   justify-content: flex-start;
   align-items: center;
   gap: 6.9rem;
   width: 100%;
}

.logo a {
   align-items: center;
   gap: 0.5rem;
   padding: 0.5rem 1rem;
   text-decoration: none;
}

.logo img {
   width: 3rem;
}
.logo h1 {
   font-size: 1.25rem;
   font-weight: 600;
   color: #e9f0f7;
}
.logo p {
   font-size: 0.95rem;
   font-weight: 500;
   color: #e9f0f7;
}

/*! ----- search form styles -----  */

form {
   flex: 1;
   display: flex;
   gap: 0.75rem;
   align-items: center;
   justify-content: flex-start;
   background-color: #9fb0c3;
   border-radius: 0.5rem;
   padding: 0.25rem 0.5rem;
   width: 2.5rem;
   height: 2.5rem;
   overflow: hidden;
   box-shadow: 2px 2px 4px rgb(0, 0, 0);
   transition: width 0.4s ease-in-out;
   transform: background-color 0.4s ease-in-out;
}
form:hover,
form:focus-within {
   width: 32rem;
}
form:focus-within {
   background-color: #e9f0f7;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   border: #52e3a5 2px solid;
}
form button img {
   width: 100%;
   display: block;
}

form button {
   width: 1.5rem;
   background-color: transparent;
   border: none;
   cursor: pointer;
   flex-shrink: 0;
}

form input {
   border: none;
   background-color: transparent;
   height: 90%;
   width: 100%;
   color: #121821;
   font-size: 1rem;
}
form input:focus {
   outline: none;
}
form input::placeholder {
   color: rgba(18, 24, 33, 0.7);
}

/*! -----nav links styles-----  */

nav {
   width: 100%;
   padding: 0.5rem 1rem;
   font-weight: 500;
   font-size: 0.95rem;
}
nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   gap: 0.5rem;
   width: 100%;
   overflow-x: scroll;
   /* Remove scroll bars */
   scrollbar-width: none;
}
nav ul li {
   flex: 1; /* each li grows equally */
   min-width: 80px; /* prevent them from being too small */
}
nav ul li a {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   background-color: #9fb0c3;
   color: #121821;
   padding: 0.25rem 0.25rem;
   border-radius: 0.5rem;
   box-shadow: 2px 2px 4px #0b0f14;
   transition: background-color 0.2s ease-in-out;
}
nav ul li a:hover,
nav ul li a:focus {
   background-color: #e9f0f7;
}
nav ul li a img {
   width: 2rem;
}

@keyframes ScrollHelper {
   0%,
   100% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(-5rem);
   }
}

@media screen and (max-width: 1180px) {
   nav ul li a {
      animation: ScrollHelper 1s 2;
   }
}
@media screen and (max-width: 768px) {
   .headerTop {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
   }
   .logo {
      flex-direction: column;
      align-items: center;
   }
   .searchForm {
      width: 100vw;
      justify-content: center;
      padding: 0.5rem 1rem;
   }
   form {
      width: 100%;
      justify-content: center;
   }
   form:hover,
   form:focus-within {
      width: 100%;
   }
   nav ul li {
      min-width: 85px; /* prevent them from being too small */
   }
}
