.loading canvas {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
@media screen and (max-width: 768px) {
   .loading canvas {
      margin: auto;
      padding: 10rem 0;
   }
}
