.rowScroller {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   scroll-snap-type: x mandatory;
   overflow-x: auto;
   scroll-behavior: smooth;
   scrollbar-width: none; /* for Firefox */
}
.rowScroller::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
}
.rowItem {
   scroll-snap-align: start;
   flex: 0 0 auto;
   width: 20%;
}
