.searchStateSvg canvas {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
@media screen and (max-width: 768px) {
   .searchStateSvg canvas {
      margin: auto;
      padding: 5rem 0;
   }
}
